#dock-container li {
  list-style-type: none;
  z-index: 5;
  display: inline-block;
  position: relative;
}
#dock-container li img {
  width: 64px;
  z-index: 5;
  height: 64px;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}
#dock-container li:hover img {
  -webkit-transform: scale(2);
  z-index: 5;
  margin: 0 2em;
}
#dock-container li:hover + li img,
#dock-container li.prev img {
  -webkit-transform: scale(1.5);
  z-index: 5;
  margin: 0 1.5em;
}

#dock-container li span {
  display: none;
  position: absolute;
  bottom: 140px;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 4px 0;
  border-radius: 12px;
}
#dock-container li:hover span {
  z-index: 5;
  display: block;
  color: #fff;
}
